@charset "utf-8";
/* 도깨비 메인 페이지 미디어 쿼리 - media.css */

/* 1024px 이하 미디어 쿼리 시작  */
@media screen and (max-width: 1070px) {
  html {
    font-size: 8px;
  }

  .top {
    height: 120px;
  }

  /**************** 3. gnb menu */
  .gnb ul {
    width: 495px;
  }

  /**************** 4.top 메뉴 */
  .tmenu > ul > li > a {
    line-height: 1.7;
  }

  /**************** 5. 개별 서브메뉴 오버시 */
  .gnb > ul > li:hover:nth-child(1) .smenu,
  .gnb > ul > li.m1:hover::after {
    height: 96px;
    /* 32*3 */
  }

  .gnb > ul > li > a {
    color: white;
  }
  /* 3번째 메뉴 - 4개 */
  .gnb > ul > li:hover:nth-child(3) .smenu,
  .gnb > ul > li.m2:hover::after {
    height: 128px;
  }

  /* 4번째 메뉴 - 2개 */
  .gnb > ul > li:hover:nth-child(4) .smenu,
  .gnb > ul > li.m3:hover::after {
    height: 64px;
  }
  /*********** 6. 하단링크 */
  .blink ul {
    width: 680px;
  }

  /*********** 7.하단박스 */
  .info {
    /* 높이값 자동전환 */
    height: auto;
    padding-bottom: 15px;
  }
  /*8. 브랜드 바로가기 */
  .brand {
    display: none;
  }
}
/************ 1024px 이하 미디어 쿼리 끝   ****************/

/********************* 800px 이하 미디어 쿼리 시작 *********************/
@media screen and (max-width: 800px) {
  /*1. 숨기기 */
  /* GNB 메뉴, 서브 메뉴, 서브메뉴배경 가상요소 문구 이미지, 하단링크 */
  .gnb,
  .tmenu,
  #dtxt,
  .blink,
  .smenu,
  .gnb > ul > li.bgbx::after {
    display: none;
  }
  /* 2.  높이값 자동: 상단영역, 컨텐츠영역  */
  .top,
  .cont {
    height: auto;
  }
  /* 햄버거 버튼 보이게 함 */
  .ham {
    /* 포지션이 앱솔루트이면 기본 block이다 */
    display: block;
    /* 로고보다 위 */
  }
  /* 햄버거 버튼 스케일 변경
  (전체메뉴 보일 때만 -> .top.on 일 때만) */
  .top.on .ham {
    z-index: 1;
    color: #fff;
    transform: scale(1.5);
  }

  /* 햄버거 버튼 모양 가상요소로 문자 넣기
   (전체메뉴 보일 때만 -> .top.on 일 때만) */
  .top.on .ham::before {
    content: "×";
  }

  /* 4. 캐릭터박스 비율변경 */
  .cat {
    width: 99%;
  }
  /* 5. 컨텐츠 영역 */
  .cont {
    padding: 100px 0 30px;
  }
  /* 6. 캐릭터 박스 오버시 이미지 박스 */
  .cat:hover .ci {
    margin-top: 0;
  }
  /* 7.캐릭터 설명 제목  */
  .cd h3 {
    font-size: 3.5rem;
    padding: 1.5rem 2rem;
  }
  /* 8.캐릭터 설명 문단 폰트 크기 증가*/
  .cd p {
    font-family: "Gowun Batang", serif;
    font-size: 3rem;
    font-weight: normal;
    line-height: 5rem;
    text-align: justify;
    padding: 2.5rem 1rem;
    margin: 0;
  }
  /* 캐릭터 설명 가상요소로 디자인하기 */
  .cd p:first-of-type:first-letter {
    font-size: 5rem;
    color: lightblue;
    /* 그림자 4개로 글자 테두리 주기 */
    text-shadow: 1px 0 rgb(33, 4, 108), -1px 0 rgb(33, 4, 108),
      1px 0 rgb(33, 4, 108), -1px 0 rgb(33, 4, 108);
  }
  /* 9. 회사주소 */
  .addr address {
    font-size: 2rem;
    padding: 1.1rem;
  }
  /*  10. 전체메뉴gnb 변경 */
  .top.on .gnb {
    display: block;
  }
  .gnb {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0 0 0 / 50%);
  }

  .gnb ul {
    width: auto;
    margin-top: 20vh;
  }

  .gnb > ul > li {
    float: none;
    height: 10vh;
    padding: 0;
    text-align: center;
  }

  /* li 하위 a요소 */
  .gnb > ul > li > a {
    font-size: 4vh;
    line-height: 10vh;
  }
  /* 전체메뉴 보일 때 로고 맨위 */
  #logo {
    position: relative;
    z-index: 1;
  }
}
/********************* 800px 이하 미디어 쿼리 끝 *********************/

/* 모바일  */
