@charset "utf-8";
/* Info PJ 서브페이지 CSS - sub.css */

/* 공통 외부 클래스 불러오기*/

/* 
    import로 파일 합치기
    외부 css파일에서 다른 외부 css를 
    import방식으로 호출한다.
    장점은 : 리퀘스트가 줄어들어 파일 렌더링의 효율 증가
    html에서 link요소로 호출할 경우 http request가 많아져서 
    페이지 렌더링 속도라 더뎌진다
    따라서 이 방식을 쓰면 한번에 여러 css를 불러올 수 있어서 로딩 속도에 유리하다
    - 주의 : import는 css파일 상단에 코딩한다
 */

/* @import url(파일주소); */
@import url(common.css);

/* 서브페이지 메인컨텐츠 박스 */
main#cont{
  padding: 20px;
}

/* 메인 컨텐츠 공통 경계선*/
#cont article {
  border-top: 1px solid #ccc;
  /* 보더위쪽: 두께 종류 색상 */
  margin-top: 25px;
  /* 위쪽 마진 */
}
/*  메인 컨텐츠 아래 a요소 공통 */
/* a의 기본셋팅을 변경함! - 글자색, 밑줄 */
#cont a {
  /* 글자색 color */
  color: #222;
  /* 글자데코 - text-decoration */
  text-decoration: none;
  /* 밑줄 없앰 */

  /* 글자크기 */
  font-size : 14px;
  /* 글자체 - font-family */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*  a요소 마우스 오버시 */
#cont a:hover{
  color: lightseagreen;
  /* 글자데코 */
  text-decoration: underline;
}

/************** 2-1. 언론사 로고 *****************/
.prlogo img {
  height: 32px;
}
/************** 2-2. 기사제목 *****************/
.atit{
  font-size: 30px;
  font-family: "궁서", "굴림";
  font-weight: normal;

}
/************** 2-3. 기사사진(+사진설명) *****************/
.afig{
  margin: 15px 0;
}
.afig img{
  width: 100%;
  /* 부모박스를 기준으로 채움 */
  /* 이미지는 가로, 세로, 중 하나만 크기를 주면 나머지는 자동으로 비율을 유지한다. */
}

.afig figcaption{
  text-align: center;
  /* 글자 정렬은 블록박스에서 적용해야 내부의 인라인 요소의 정렬이 변경된다. (인라인에서 하면 적용안됨) */
  padding-bottom: 50px;

}
/* 이미지 설명글 작은글자박스 */

.afig small{
  font-family: "굴림";
  color: #777;
}

/************** 2-4. 기사내용 *****************/
.atc{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 17px;
  /* 줄간격 */
  line-height: 1.6;
}

/* 인용구 박스 */

.quote{
  background-color: #ececec;
  padding: 10px;
  background-clip: content-box;
}

/* 인용구 제목 */
.quote h3{
  /* 글자중앙 */
  text-align: center;
}
/* 인용구 박스 */
.quote blockquote{
  font-size: 12px;
  /* 들여쓰기 하는법 */
  text-indent: 15px;
  /* 양쪽 정렬하는법 */
  text-align: justify;
  line-height: 1.7;
}

/* 오늘의 작품 */
.twork {
  text-align: center;
  background-color: #fbffbf;
  background-clip: content-box;
  padding: 20px;
}

/* 오늘의 작품 이미지 사이즈 */
.twork img{
  width: 200px;
}

/* 포토뉴스 이미지 그림자 */
.pnews img{
  box-shadow: 2px 2px 5px #555;
  
  /* box-shadow: inset hoff voff blur spread #000; */
  /* box-shadow: 내부그림자 x축 y축 경계흐림 확장 색; */
}