@charset "utf-8";
/* Info PJ 서브페이지 CSS - sub.css */

/* 공통 외부 클래스 불러오기*/

/* 
    import로 파일 합치기
    외부 css파일에서 다른 외부 css를 
    import방식으로 호출한다.
    장점은 : 리퀘스트가 줄어들어 파일 렌더링의 효율 증가
    html에서 link요소로 호출할 경우 http request가 많아져서 
    페이지 렌더링 속도라 더뎌진다
    따라서 이 방식을 쓰면 한번에 여러 css를 불러올 수 있어서 로딩 속도에 유리하다
    - 주의 : import는 css파일 상단에 코딩한다
 */

/* @import url(파일주소); */
@import url(common.css);

/* 서브페이지 메인컨텐츠 박스 */
main#cont{
  padding: 20px;
}

/************** 2-1. 언론사 로고 *****************/
.prlogo img {
  height: 32px;
}
/************** 2-2. 기사제목 *****************/
.atit{
  font-size: 30px;
  font-family: "궁서", "굴림";
  font-weight: normal;

}
/************** 2-3. 기사사진(+사진설명) *****************/
.afig{
  margin: 15px 0;
}
.afig img{
  width: 100%;
  /* 부모박스를 기준으로 채움 */
  /* 이미지는 가로, 세로, 중 하나만 크기를 주면 나머지는 자동으로 비율을 유지한다. */
}

.afig figcaption{
  text-align: center;
  /* 글자 정렬은 블록박스에서 적용해야 내부의 인라인 요소의 정렬이 변경된다. (인라인에서 하면 적용안됨) */
  padding-bottom: 50px;

}
/* 이미지 설명글 작은글자박스 */

.afig small{
  font-family: "굴림";
  color: #777;
}

/************** 2-4. 기사내용 *****************/
.atc{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 17px;
  /* 줄간격 */
  line-height: 1.6;
}
/************** 2-5. 기자소개 *****************/
/************** 2-6. 원본기사링크 *****************/
