@charset "utf-8";
/* 도깨비 공통 디자인 css - common.css */
/* 상단영역, 하단영역 등 공통디자인 */

/***************** 1. 상단영역 *************/
.top {
  height: 127px;
}

/* 전체 겉박스 */
#top {
  background-color: white;
}

/* 1-1 메인로고 */
#logo {
  padding: 20px;
  text-align: center;
}

/* 로고이미지 */
#logo img {
  width: 100px;
}
ul,
ol {
  /* 리스트 박스 기본 3무  - 마진 패딩 리스트 스타일 없음*/
  list-style: none;
}
.gnb {
  /* background-color: rgb(45, 93, 77); */
}
/* ul 초기화 */
.gnb ul {
  /* 가로크기: li하나 200px*4= 800*/
  width: 606px;

  /* 마영오 */
  margin: 0 auto;
}
/* 가상 요소로 clear 설정하기********* 중요 ***/
.gnb ul::after {
  content: "";
  display: block;
  clear: both;
}
/* li 리스트 요소*/
.gnb > ul > li {
  /* 블록요소 옆으로 흐르게*/
  float: left;
  height: 44px;
  padding: 0 15px; /* 양쪽 패딩*/
}
/* li 하위 a요소 */
.gnb > ul > li > a {
  /* 글자색 변경*/
  color: black;
  text-decoration: none;
  /* 디자인 적용위해 블록변경 */
  /* display: block; */
  /* width: 200px; */
  height: 50px;
  /* text-align: center; */
  line-height: 44px;
  /* 트랜지션: 속시이지 */
  transition: all 0.3s;
  /* 글자크기 */
  font-size: 17px;
}
/* 부모 li에 마우스 오버시 상위메뉴 a요소 배경색 변경 */
.gnb > ul > li:hover > a {
  /* background-color: rgb(22, 184, 184);
  color: #000; */
}
/* 서브메뉴 */
.smenu {
  /* 서브메뉴 숨김장치
        -> 높이값0 + 넘치는 자식요소 숨기기
        (주의 사항) 위아래방향 패딩 없어야함*/
  height: 0;
  overflow: hidden;
  /*padding: 10px;*/
  background-color: white;
  transition: height ease-in-out 0.4s;
  border-radius: 0 0 10px 10px;
}
/* 상위메뉴 li에 마우스 오버시
      하위메뉴박스 높이값 복원하기(트랜지션)*/
/* 1번째 메뉴 - 3개 */
.gnb > ul > li:hover:nth-child(1) .smenu {
  height: 132px;
}

/* 3번째 메뉴 - 4개 */
.gnb > ul > li:hover:nth-child(3) .smenu {
  height: 176px;
}

/* 4번째 메뉴 - 2개 */
.gnb > ul > li:hover:nth-child(4) .smenu {
  height: 88px;
}
/* */

/*서브 메뉴  ol 요소*/
.smenu ol {
  padding: 10px;
  /*.smenu 박스는 높이 값을 0으로 자식 요소 숨기기를 할 박스이므로
        패딩이 있으면 높이값 0이어도 패딩때문에 숨겨지지 않는다.
         따라서 안쪽 박스에 패딩 설정을 해야한다.*/
}
/* 서브메뉴 a 요소 */
.smenu a {
  color: #000;
  text-decoration: none;
  display: block;
  text-align: center;
  font-size: 14px;
  line-height: 40px;
  transition: height 0.4s ease-in;
}

/* 서브메뉴 a에 오버시 */
.smenu a:hover {
  /* background-color: #ececec;
  color: orangered;
  border-radius: 5px; */
}
/***************** 2. 메인영역 *************/
.cont {
  height: 800px;
}

/***************** 2. 하단영역 *************/
.info {
  height: 241px;
}
