@charset "utf-8";
/* 도깨비 공통 디자인 css - common.css */
/* 상단영역, 하단영역 등 공통디자인 */

/* 공통글씨체 : 나눔고딕 */
body {
  font-family: "Nanum Gothic", sans-serif;
}
/***************** 1. 상단영역 *************/
.top {
  height: 127px;
}

/* 전체 겉박스 */
#top {
  background-color: white;
  border-bottom: 2px solid rgba(128, 128, 128, 0.442);
}

/* 1-1 메인로고 */
#logo {
  padding: 20px;
  text-align: center;
}

/* 로고이미지 */
#logo img {
  width: 100px;
  vertical-align: bottom;
  /* 버티컬 얼라인을 주지 않으면, a 요소나 div요소로 이미지를 싸면 하단에 4px의 공간이 생긴다. */
}
ul,
ol {
  /* 리스트 박스 기본 3무  - 마진 패딩 리스트 스타일 없음*/
  list-style: none;
}

.gnb {
  /* background-color: rgb(45, 93, 77); */
}
/* 1-2. 탑메뉴  */
.tmenu {
  position: relative;
  /* 부모자격 */
}
/* 내용 리스트박스 */
.tmenu ul {
  position: absolute;
  right: 0;
  top: -50px;
  /* 부모는 .tmenu */
  /* 하단의 코딩은 앱솔루트 이전 작업 - 모두 불필요*/
  /* 옆으로 흐르게 */
  /* float: right; */
  /* 마진탑으로 위로 올림 */
  /* 부모 박스의 높이값은 0이됨. 왜? 빠져나갔으니까. */
  /* margin-top: -50px; */
}

.tmenu li {
  float: left;
}
/* 탑메뉴 상위 li */
.tmenu > ul > li {
  padding: 0 15px;
}
/* 탑메뉴 상위 a요소 */
.tmenu > ul > li > a {
  /*  글자크기   */
  font-size: 15px;
  /* 글자색 */
  color: #000;
  /* 밑줄없앰  */
  text-decoration: none;
}
/* sns 메뉴 리스트*/
.sns {
  margin-top: -5px;
}
.sns a {
  display: none;
}

.sns li {
  width: 30px;
  height: 30px;
}
/* 트위터 */
/* 스프라이트 방식으로 이미지 사용. image replacement (ir)기법으로 웹접근성을 살려라 */
.sns a {
  /* 블록변경 - 디자인적용  */
  display: block;
  width: 100%;
  height: 100%;
}
.sns li {
  background: url(../images/icons.png) no-repeat;
  width: 30px;
  height: 30px;
}
.sns li:first-child {
  background-position: 0 0;
}
.sns li:first-child:hover {
  background-position: 0 -30px;
}
.sns li:nth-child(2) {
  background-position: -30px 0;
}
.sns li:nth-child(2):hover {
  background-position: -30px -30px;
}
.sns li:nth-child(3) {
  background-position: -60px 0;
}
.sns li:nth-child(3):hover {
  background-position: -60px -30px;
}

/* 1-3.  */

/* ul 초기화 */
.gnb ul {
  /* 가로크기: li하나 200px*4= 800*/
  width: 573px;
  /* 마영오 */
  margin: 0 auto;
}
/* 가상 요소로 clear 설정하기********* 중요 ***/
.gnb ul::after {
  content: "";
  display: block;
  clear: both;
}

/* li 리스트 요소*/
.gnb > ul > li {
  /* 블록요소 옆으로 흐르게*/
  float: left;
  height: 44px;
  padding: 0 15px; /* 양쪽 패딩*/
}
/* li에 가상요소로 서브메뉴 꽉차는 배경 만들기 
- ::after를 쓰는 이유는 a요소 다음위치 젠틀앱솔루트로 하려고 */
.gnb > ul > li.bgbx::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  /* left의 부모는? 보이는 화면. 왜냐하면 중간에 부모자격이 아무도 없기 때문 */
  /* top은 젠틀 */
  transition: height ease-in-out 0.4s;
  /* .smenu와 동일 */
  /* top 부분 미세위치 조정은 마진탑으로 */
  margin-top: 4px;
  width: 100%;
  /* 100%는 부모 역할을 하는 보이는 화면 기준 */
  height: 0;
  background-color: #fff;
}

/*  li에 마우스 오버시 가상요소 배경 하단보더 */
.gnb > ul > li.bgbx:hover::after {
  height: 140px;
  border-bottom: 2px solid red;
}
/* 첫번째 메뉴 li오버시 가상 요소 배경 보이기 */

.gnb > ul > li.m1:hover::after {
  height: 120px;
  border-bottom: 2px solid red;
}
/* 세번째 메뉴 li오버시 가상 요소 배경 보이기 */
.gnb > ul > li.m2:hover::after {
  height: 160px;
  border-bottom: 2px solid red;
}
/* 네번째 메뉴 li오버시 가상 요소 배경 보이기 */
.gnb > ul > li.m3:hover::after {
  height: 80px;
  border-bottom: 2px solid red;
}

/* 세번째 요소 li 요소 가로크기 주기 */
/* 서브메뉴로 인한 자동크기가 늘어나므로 글자크기만큼만 강제로 가로 크기를 지정함
그러나...
서브메뉴가 앱솔루트이면 강제로 늘릴필요없음.
앱솔루트는 부모에게 영향을 주지 않는다 */
/* .gnb > ul > li:nth-child(3),
.gnb > ul > li:nth-child(4) {
  width: 50px;
} */
/* li 하위 a요소 */
.gnb > ul > li > a {
  /* 글자색 변경*/
  color: black;
  text-decoration: none;
  /* 디자인 적용위해 블록변경 */
  /* display: block; */
  /* width: 200px; */
  height: 50px;
  /* text-align: center; */
  line-height: 44px;
  /* 트랜지션: 속시이지 */
  /* transition: all 0.3s; */
  /* 글자크기 */
  font-size: 17px;
}
/* 부모 li에 마우스 오버시 상위메뉴 a요소 배경색 변경 */
.gnb > ul > li:hover > a {
  border-bottom: 4px solid red;
  padding-bottom: 11px;
  /* 인라인 요소의 위아래 방향 패딩과 보더는 다른 요소에 영향을 미치지 않고 디자인만 나온다 */
}
/* 서브메뉴 */
.smenu {
  position: absolute;
  /* 젠틀 앱솔루트
  -> li 박스안에 그대로 있고 위에 있는 형제 a요소도 존중해서 그 아래에 그대로 위치하고 있다. */
  /* 가로크기 설정 - 부모 박스 크기에 영향없도록 */
  z-index: 1;
  width: 88px;
  /* 노랩박스만들기 - 공백 속성 싸지마 좁아도 글자 안떨어짐 */
  white-space: nowrap;

  /* 서브메뉴 숨김장치
        -> 높이값0 + 넘치는 자식요소 숨기다
        (주의 사항) 위아래방향 패딩 없어야함*/
  height: 0;
  overflow: hidden;
  /*padding: 10px;*/
  background-color: white;
  transition: height ease-in-out 0.4s;
  border-radius: 0 0 10px 10px;
  margin-top: 4px;
}
/* 상위메뉴 li에 마우스 오버시
      하위메뉴박스 높이값 복원하기(트랜지션)*/
/* 1번째 메뉴 - 3개 */
.gnb > ul > li:hover:nth-child(1) .smenu {
  height: 120px;
}

/* 3번째 메뉴 - 4개 */
.gnb > ul > li:hover:nth-child(3) .smenu {
  height: 160px;
}

/* 4번째 메뉴 - 2개 */
.gnb > ul > li:hover:nth-child(4) .smenu {
  height: 80px;
}
/* */

/* 서브 메뉴  ol 요소 - 디자인상 없앰 */
/* .smenu ol { */
/* padding: 10px; */
/*.smenu 박스는 높이 값을 0으로 자식 요소 숨기기를 할 박스이므로
        패딩이 있으면 높이값 0이어도 패딩때문에 숨겨지지 않는다.
         따라서 안쪽 박스에 패딩 설정을 해야한다.*/
/* } */
/* 서브메뉴 a 요소 */
.smenu a {
  color: #000;
  text-decoration: none;
  display: block;
  /* text-align: center; */
  font-size: 14px;
  line-height: 40px;
  transition: height 0.4s ease-in;
}

/* 서브메뉴 a에 오버시 */
.smenu a:hover {
  /* background-color: #ececec;
  color: orangered;
  border-radius: 5px; */
}
/***************** 2. 메인영역 *************/
.cont {
  height: 800px;
}

/***************** 2. 하단영역 *************/
.info {
  height: 241px;
}

#info {
  /* 높이값 */
  background-color: rgba(255, 255, 255, 0.7);
}

/* 3-1 하단추가정보링크 */
.blink {
  /* 안쪽 박스 상단을 패딩 탑으로 밀기 */
  padding-top: 5px;
}
.blink ul {
  width: 804px;
  margin: 0 auto;
}
.blink li {
  float: left;
  padding: 0 15px;
}
/* 하단링크 a 요소 */
.blink a {
  color: #222;
  /* 밑줄없앰 */
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  line-height: 2.8;
}
/* 마우스 오버시 a요소 */
.blink a:hover {
  color: red;
  text-decoration: underline;
}

.brand {
  position: relative;
}
/* 3-2 브랜드 바로가기 */
.brand select {
  position: absolute;
  top: -37px;
  right: 0;
  /* 부모는 brand */
  /* 블록변경 - 마진탑을 마이너스로 올릴때 
  인라인 블록이어서 인라인 특성상 
  상단의 링크메뉴 글자부분에서 걸리게 됨.
  따라서 이런제한이 없는 블록 박스로 변경함 */
  display: block;
  /* 오른쪽으로 보냄 */
  /* float: right; */
  /* 글자두껍게 */
  font-weight: bold;
  /* margin-top: -35px; */
  font-size: 14px;
  line-height: 2.8;
  color: #222;
  padding: 3px;
}
/* 3-3. 회사주소 박스 */
.addr {
  padding: 10px;
}
.addr address {
  max-width: 804px;
  margin: 0 auto;
  border: 4px double #222;
  font-size: 14px;
  line-height: 2;
  text-align: center;
  /* address 기본 이탤릭체 해제 */
  font-style: normal;
  padding: 10px;
  /* 박스크기 유지 */
  box-sizing: border-box;
}
/*3-4 하단로고박스  */
.blogo {
  text-align: center;
}
