@charset "utf-8";
/* 도깨비 메인 페이지 CSS - main.css */

/* 공통 사용 외부 css 파일 합치기(merging) */
@import url(./reset.css);
@import url(./core.css);
@import url(./common.css);

/*컨텐츠 영역 최상위 부모*/

body {
  /* 한번에 배경주기 */
  /* background: 색이반고윙크; */
  background: url(../images/bg_logo_a_01.png) no-repeat fixed 10% 30%/10%,
    url(../images/bg_mainvisual.jpg) no-repeat fixed center/cover;
}

/********** 2. 메인영역 ************/
/* 컨텐츠 속박스 */
.cont {
  padding-top: 400px;
  max-width: none;
}
/* 캐릭터 부모박스 */
#cbx {
  /* 부모박스 크기의 90% 가로크기 설정 */
  width: 90%;
  /* 블록요소 가로 중앙 */
  margin: 0 auto;
  /* 높이값 - 자식 요소 float으로 높이값 안주면 0됨*/
  /* height: 300px; */
  /* float된 자식의 높이값 인식을 위해 overflow:hidden  */
  /* overflow: hidden; 여기서는 안씀 */
  /*  -> 가상요소에 clear:both 사용할 것임 */
  /* 외곽선 */
  outline: 1px dotted gold;
}
/* 가상요소로 clear설정하기 */
/* ::after로 맨 뒤에 가상요소 추가 */
#cbx::after {
  content: "";
  /* content는 필수로 넣어야 한다.*/
  display: block;
  /* div와 비슷. 안쓰면 span가 비슷하다. */
  clear: both;
  /* 주의 block 요소에만 적용됨 */
}
.cat {
  /* 4등분 가로 크기는 몇? 24% */
  width: 24%;
  /* 사이간격을 위해 양쪽 마진을 % 값으로 셋팅 */
  margin: 0 0.5%;
  /* 25% - 양쪽마진(1%) = 24% */
  /* 양쪽마진을 0.5% 그런데 코딩시 앞의 0을 생략할 수 있다. */

  /* 블록박스 옆으로 흐르게 설정 */
  float: left;
  /* [블록요소를 옆으로 흘러가게하기! ]
  float 속성
  -> left값은 "나는 왼쪽에 너는 오른쪽으로 올라와!" 
  -> right 값은 "나는 오른쪽에 너는 왼쪽으로 올라와!"
  
  float:left는 왼쪽에서 오른쪽으로 흘러감
  float:right는 오른쪽에서 왼쪽으로 흘러감

  [ 자식 요소가 float된 경우 부모요소의 자동높이값은?]
-> 결과적으로 자식요소가 float됨으로 부모의 높이값이 0
해결방법:
1. 부모요소에 overflow:hidden 설정
2. float 자식요소 중 float이 아닌 마지막 요소에 float해제 속성인 clear 설정하기!
  */
}

/* 이미지 박스 */
.ci {
  /* 트랜지션: 속시이지 */
  transition: margin-top 0.4s ease-out;
}
/* 캐릭터 박스(.cat)에 마우스 오버시 이미지박스(.ci)위로 이동하기 */
.cat:hover .ci {
  /* 마진탑값이 마이너스면 위쪽으로 올라간다 */
  margin-top: -137px;
}

.ci > img {
  width: 100%;
}
/* 캐릭터 이름이미지 박스 */
.ci span {
  /* 블록으로 변경 */
  display: block;
  /* 인라인요소 중앙정렬 */
  text-align: center;
  /* 상단마진 - 마이너스값을 주면 윗방향으로 겹쳐짐 */
  margin-top: -18%;
}
/* 이름 이미지 사이즈 조정 */
.ci span img {
  width: 32%;
}
/* 이름이미지 중 첫번째 진한 이미지 숨기기 */
/* 가상 클래스로 첫번째 이미지 선택 */
/* :first-child */
.ci span img:first-child {
  display: none;
}
/* .cat 마우스 오버시 첫번째 이름이미지 보이기*/
.cat:hover .ci span img:first-child {
  /* 원래의 display로 복귀 */
  display: inline;
}
/* .cat에 마우스 오버시 마지막째 이름이미지 숨기기 */
.cat:hover .ci span img:last-child {
  display: none;
}
/* 캐릭터 설명박스 */
.cd {
  margin-top: 15px;
  height: 0; /* 마우스 오버시에 250px; */
  background: url(../images/eachBG.jpg) no-repeat center/cover;
  /* x축 스크롤바 트랙없는 y축 스크롤 설정 */
  overflow-y: scroll;

  /* 트랜지션 : 속시이지*/
  transition: height 0.4s ease-in-out;
  /* transition: height 0.4s ease-in-out 1s, background-color 1s ease-in-out 1.4s; */

  /* 둥근 모서리 왼쪽위부터 시계방향*/
  border-radius: 20px 5px 5px 20px;
}
/* 마우스 오버시에 250px */
.cat:hover .cd {
  height: 250px;
  /* background: red; */
}
/****************** [트랜지션 애니메이션 효과주기] *******************/
/*                   속성값의 변화과정을 보여주면서 애니메이션함
                     transiton: 속성 시간 이징 지연 -> 속시이지!
                     1. 속성 - 변경 애니메이션 대상 속성
                         (속성을 안쓰면 기본값 all이 들어가서 모두 적용됨)
                     2. 시간 - 애니메이션 시간 : 초단위(s)
                     3. 이징 - easing - 가속도
                        1) ease : 애니 앞뒤에 약간씩 느려짐(기본값)
                        2) ease-in : 애니 처음에 서서히 빨라짐
                        3) ease-out : 애니 끝에 서서히 느려짐
                        4) ease-in-out : dosl tlwkrrhk Rmxdp cjscjsgl
                        5) linear : 등속도
                        -> 베지어 곡선으로 매우 다채롭게 가속도 조정가능
                        참고 : https://www.w3schools.com/css/tryit.asp?filename=trycss3_transition_speed
                     4. 지연 - 지연시간 즉, 애니 시작전 대기시간(초단위) 
                     5. 적용법 - 오버시와 원상복귀되는 애니가 똑같다면,
                        오버설정 전인 원본에 한번만 주면 양방향이 동일하게 적용됨.
                        만약 오버시와 아웃시가 달라야 한다면 각각 트랜지션을 설정한다.
                                                                */

/* 캐릭터 설명 타이틀 */
.cd h3 {
  font-family: "Yeon Sung", cursive;
  font-size: 26px;
  font-weight: normal;
  /* 패딩 위 양쪽 아래 */
  padding: 5px 10px 0;
}
/* 가상요소로 타이틀 앞에 작은 도깨비 로고 넣기 */
.cd h3::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 30px;
  vertical-align: middle;
  margin-right: 5px;
  /* background: 색이반고윙크; */
  background: url(../images/bg_logo_a_01.png) no-repeat right -184px;
  /* outline: 1px solid red; */
}

/* 캐릭터 설명 문단 */
.cd p {
  font-family: "Gowun Batang", serif;
  font-size: 20px;
  font-weight: normal;
  line-height: 30px;
  /* 줄간격을 배수단위로 쓰면 첫글자의 폰트가 커서 영향을 받음 */
  text-align: justify;
}

/* 캐릭터 설명 가상요소로 디자인하기 */
.cd p:first-of-type:first-letter {
  font-size: 30px;
  color: lightblue;
  /* 그림자 4개로 글자 테두리 주기 */
  text-shadow: 1px 0 rgb(33, 4, 108), -1px 0 rgb(33, 4, 108),
    1px 0 rgb(33, 4, 108), -1px 0 rgb(33, 4, 108);
}
