@charset "utf-8";
/* 도깨비 메인 페이지 CSS - main.css */

/* 공통 사용 외부 css 파일 합치기(merging) */
@import url(./reset.css);
@import url(./core.css);
@import url(./common.css);

/*컨텐츠 영역 최상위 부모*/

body {
  /* 한번에 배경주기 */
  /* background: 색이반고윙크; */
  background: 
  url(../images/bg_logo_a_01.png) no-repeat fixed 10% 30%/10%,
  url(../images/bg_mainvisual.jpg) no-repeat fixed center/cover;
}

/********** 2. 메인영역 ************/
/* 컨텐츠 속박스 */
.cont {
  padding-top: 400px;
}
/* 캐릭터 부모박스 */
#cbx {
  /* 부모박스 크기의 90% 가로크기 설정 */
  width: 90%;
  /* 블록요소 가로 중앙 */
  margin: 0 auto;
  /* 높이값 - 자식 요소 float으로 높이값 안주면 0됨*/
  /* height: 300px; */
  /* float된 자식의 높이값 인식을 위해 overflow:hidden  */
  overflow: hidden;
  /* 외곽선 */
  outline: 4px dotted gold;
}

.cat {
  /* 4등분 가로 크기는 몇? 24% */
  width: 24%;
  /* 사이간격을 위해 양쪽 마진을 % 값으로 셋팅 */
  margin: 0 .5%;
  /* 25% - 양쪽마진(1%) = 24% */
  /* 양쪽마진을 0.5% 그런데 코딩시 앞의 0을 생략할 수 있다. */

  /* 블록박스 옆으로 흐르게 설정 */
  float: left;
  /* [블록요소를 옆으로 흘러가게하기! ]
  float 속성
  -> left값은 "나는 왼쪽에 너는 오른쪽으로 올라와!" 
  -> right 값은 "나는 오른쪽에 너는 왼쪽으로 올라와!"
  
  float:left는 왼쪽에서 오른쪽으로 흘러감
  float:right는 오른쪽에서 왼쪽으로 흘러감

  [ 자식 요소가 float된 경우 부모요소의 자동높이값은?]
-> 결과적으로 자식요소가 float됨으로 부모의 높이값이 0
해결방법:
1. 부모요소에 overflow:hidden 설정
2. float 자식요소 중 float이 아닌 마지막 요소에 float해제 속성인 clear 설정하기!
  */
}

.ci>img{
  width: 100%;
}

