@charset "utf-8";
/* 도깨비 초기화 css - reset.css */
/* 요소의 기본셋팅 초기화 */

/* 기본태그 초기화 - 마진, 패딩 없애기 */
html,body,h1,h2,h3,h4,h5,h6,ul,ol,dl,dt,dd{
  margin: 0;
  padding: 0;
}

 /* 2. 헤딩태그 글자크기 reset */
h1,h2,h3,h4,h5,h6{
  font-size: 100%;
  /* 글자크기 100%는 기본글자크기와 같아지는 셋팅 기본글자크기는 16px */
}

/* 3. ul, ol reset */
ul,ol{
  list-style: none;
  /* 불릿, 숫자 표시 없앰 */
}

/* 구현중 공사중 외곽선 표시  */
body *{
  outline: 1px dashed gray;
}

/* 별(*) 선택자는 모든 요소를 선택함 */
/* outline 속성은 border와 달리 박스모델의 구성속성이 아니다. 보더와 달리 아웃라인은 크기를 차지하지 않고 외곽선표시만 된다. */
